@import "variables";

.icon_right_solid {
  &:before {
    content: $icon_right_solid;
  }
}
.icon_down_solid {
  &:before {
    content: $icon_down_solid;
  }
}
.icon_wishlist_filled {
  &:before {
    content: $icon_wishlist_filled;
  }
}
.icon_wishlist {
  &:before {
    content: $icon_wishlist;
  }
}
.icon_wallet {
  &:before {
    content: $icon_wallet;
  }
}
.icon_user {
  &:before {
    content: $icon_user;
  }
}
.icon_default {
  &:before {
    content: $icon_default;
  }
}
.icon_undo {
  &:before {
    content: $icon_undo;
  }
}
.icon_track_order {
  &:before {
    content: $icon_track_order;
  }
}
.icon_topwear {
  &:before {
    content: $icon_topwear;
  }
}
.icon_star_filled {
  &:before {
    content: $icon_star_filled;
  }
}
.icon_star {
  &:before {
    content: $icon_star;
  }
}
.icon_sort_by {
  &:before {
    content: $icon_sort_by;
  }
}
.icon_share {
  &:before {
    content: $icon_share;
  }
}
.icon_search {
  &:before {
    content: $icon_search;
  }
}
.icon_rupee {
  &:before {
    content: $icon_rupee;
  }
}
.icon_previous_arrow {
  &:before {
    content: $icon_previous_arrow;
  }
}
.icon_previous {
  &:before {
    content: $icon_previous;
  }
}
.icon_plus {
  &:before {
    content: $icon_plus;
  }
}
.icon_order_cancel {
  &:before {
    content: $icon_order_cancel;
  }
}
.icon_official_merchandise {
  &:before {
    content: $icon_official_merchandise;
  }
}
.icon_office {
  &:before {
    content: $icon_office;
  }
}
.icon_notifications {
  &:before {
    content: $icon_notifications;
  }
}
.icon_next_arrow {
  &:before {
    content: $icon_next_arrow;
  }
}
.icon_next {
  &:before {
    content: $icon_next;
  }
}
.icon_down {
  &:before {
    content: $icon_down;
  }
}
.icon_up {
  &:before {
    content: $icon_up;
  }
}
.icon_minus {
  &:before {
    content: $icon_minus;
  }
}
.icon_menu {
  &:before {
    content: $icon_menu;
  }
}
.icon_home {
  &:before {
    content: $icon_home;
  }
}
.icon_help {
  &:before {
    content: $icon_help;
  }
}
.icon_gift_cards {
  &:before {
    content: $icon_gift_cards;
  }
}
.icon_filter {
  &:before {
    content: $icon_filter;
  }
}
.icon_fanbook {
  &:before {
    content: $icon_fanbook;
  }
}
.icon_edit {
  &:before {
    content: $icon_edit;
  }
}
.icon_twitter {
  &:before {
    content: $icon_twitter;
  }
}
.icon_delights {
  &:before {
    content: $icon_delights;
  }
}
.icon_delete {
  &:before {
    content: $icon_delete;
  }
}
.icon_coupon_code {
  &:before {
    content: $icon_coupon_code;
  }
}
.icon_contact_us {
  &:before {
    content: $icon_contact_us;
  }
}
.icon_cod {
  &:before {
    content: $icon_cod;
  }
}
.icon_close {
  &:before {
    content: $icon_close;
  }
}
.icon_clear {
  &:before {
    content: $icon_clear;
  }
}
.icon_card {
  &:before {
    content: $icon_card;
  }
}
.icon_bank {
  &:before {
    content: $icon_bank;
  }
}
.icon_bag {
  &:before {
    content: $icon_bag;
  }
}
.icon_attachment {
  &:before {
    content: $icon_attachment;
  }
}
.icon_apple {
  &:before {
    content: $icon_apple;
  }
}
.icon_android {
  &:before {
    content: $icon_android;
  }
}
.icon_snapchat {
  &:before {
    content: $icon_snapchat;
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram;
  }
}
.icon_google_plus {
  &:before {
    content: $icon_google_plus;
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook;
  }
}
.icon_pinterest {
  &:before {
    content: $icon_pinterest;
  }
}
.icon_tick {
  &:before {
    content: $icon_tick;
  }
}
.icon_edit_filled {
  &:before {
    content: $icon_edit_filled;
  }
}
.icon_bullet {
  &:before {
    content: $icon_bullet;
  }
}
.icon_selected_default {
  &:before {
    content: $icon_selected_default;
  }
}
.icon_google {
  &:before {
    content: $icon_google;
  }
}
.icon_return_order {
  &:before {
    content: $icon_return_order;
  }
}
.icon_instagram_new {
  &:before {
    content: $icon_instagram_new;
  }
}
.icon_ship {
  &:before {
    content: $icon_ship;
  }
}
.icon_gift {
  &:before {
    content: $icon_gift;
  }
}
.icon_whatsapp {
  &:before {
    content: $icon_whatsapp;
  }
}

