$icomoon-font-path: "fonts" !default;

$icon_right_solid: "\ea1c";
$icon_down_solid: "\ea1d";
$icon_women: "\e900";
$icon_wishlist_filled: "\e901";
$icon_wishlist: "\e902";
$icon_wallet: "\e903";
$icon_user: "\e904";
$icon_default: "\e905";
$icon_undo: "\e906";
$icon_track_order: "\e907";
$icon_topwear: "\e908";
$icon_star_filled: "\e909";
$icon_star: "\e90a";
$icon_sort_by: "\e90b";
$icon_size_chart: "\e90c";
$icon_share: "\e90d";
$icon_search: "\e90e";
$icon_rupee: "\e90f";
$icon_previous_arrow: "\e910";
$icon_previous: "\e911";
$icon_plus: "\e912";
$icon_order_cancel: "\e913";
$icon_official_merchandise: "\e914";
$icon_office: "\e915";
$icon_notifications: "\e916";
$icon_next_arrow: "\e917";
$icon_next: "\e918";
$icon_down: "\e919";
$icon_up: "\e91a";
$icon_mobile_covers: "\e91b";
$icon_minus: "\e91c";
$icon_menu: "\e91d";
$icon_men: "\e91e";
$icon_laptop_skins: "\e91f";
$icon_home: "\e920";
$icon_help: "\e921";
$icon_gift_cards: "\e922";
$icon_filter: "\e923";
$icon_fanbook: "\e924";
$icon_edit: "\e925";
$icon_twitter: "\e926";
$icon_delights: "\e927";
$icon_delete: "\e928";
$icon_coupon_code: "\e929";
$icon_contact_us: "\e92a";
$icon_cod: "\e92b";
$icon_close: "\e92c";
$icon_clear: "\e92d";
$icon_card: "\e92e";
$icon_bottomwear: "\e92f";
$icon_bank: "\e930";
$icon_bag: "\e931";
$icon_attachment: "\e932";
$icon_apple: "\e933";
$icon_android: "\e934";
$icon_snapchat: "\e935";
$icon_instagram: "\e936";
$icon_google_plus: "\e937";
$icon_facebook: "\e938";
$icon_pinterest: "\e939";
$icon_tick: "\e93c";
$icon_edit_filled: "\e93d";
$icon_bullet: "\e93e";
$icon_selected_default: "\e93f";
$icon_bewakoof_logo: "\e940";
$icon_google: "\e941";
$icon_return_order: "\e942";
$icon_instagram_new: "\e943";
$icon_ship: "\e944";
$icon_gift: "\e947";
$icon_whatsapp: "\ea93";

