@import './../../scss/variables';
.hcontainer{
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  &-banner{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .product-img{
    height: 200px;
  }

  .heading {
    font-size: 3em;
    margin-top: 30px;
    text-align: center;
  }
  .sub-heading {
    margin: 30px 0px;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 200;
  }
  .content{
      color: $red;
      background-color: $white;
      margin-top: 30px;
      text-align: center;
      h1{
        margin: 0px;
        font-size: 3em;
        padding: 30px 0px 10px 0px;
      }
  }
  .title-wrapper{
    text-align: center;
    color: $black;
    background-color: $white;
    padding: 20px 0px 0px 0px;
    hr {
      width: 80%;
      padding: 10px 0px;
    }
    p{
      font-size: 24px;
      font-weight: lighter;
      color: $red;
      letter-spacing: 1px;
    }
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      li{
        font-weight: 200;
        font-size: 15px;
        padding: 10px 0px;
        text-transform: capitalize;
        letter-spacing: 0.9px;
      }
    }
  }
  .subscribe{
    background-color: #f2f3f3;
    text-align: center;
    color: $black;
    padding: 10px 0px 20px 0px;
  }
  .promote{
    background-color: $white;
  }
}


@media only screen and (min-width: $screen-width-xs + 1){
  .hcontainer {
    color:white;
    .wrapper{
      max-width: 500px;
    }
    .heading {
        font-size: 5em;
        text-align: left;
      }
      .sub-heading {
        margin: 20px 0px;
        font-size: 2em;
        letter-spacing: 1px;
        font-weight: 200;
      }

      .product-img{
        height: auto;
      }
      &-banner{
        margin-top: 0px;
        min-height: 60vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
      .content{
        width: 100%;
        .homebox-wrapper{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      .subscribe, .title-wrapper{
        width: 100%;
      }
      .subscribe{
        padding: 30px 0px;
      }
      .promote{
        background-color: $white;
        width: 100%;
      }
      
}

}