@import "./_settings.css";

/* product icon extentions/mixins */
$iconCross: e904;
$iconCrossSmall: e904;
$iconSearch: e911;
$iconSearchAlt: e912;
$iconDropdown: e906;
$iconCalendar: e902;
$iconBackArrow: e900;
$iconCheckmark: e905;
$iconDots: e90e;
$iconShare: e913;
$iconChevronLeft: e90b;
$iconChevronRight: e90c;
$iconPerson: e90f;
$iconEdit: e90d;
$iconMonoLogo: e90a;
$iconFarr: e907;
$iconBarr: e901;
$iconRupee: e910;
$iconGenderMale: e909;
$iconGenderFemale: e908;
$iconCrossThick: e914;
$iconDropdownThick: e915;
$iconCalendarThick: e916;
$iconFilter: e917;
$iconLeftArrowThick: e918;
$iconPdf: e919;
$iconKnowMore: e91a;
$iconHelp: e91b;
$iconWarningOutline: e91c;
$iconWarning: e91d;

@define-mixin iconFontStatic {
    font-family: "iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@define-mixin elementIcon $content: "*", $size: inherit, $color: inherit {
    display: inline-block;
    @mixin iconFontStatic;
    &:before {
        content: "\$content";
        color: $color;
        font-size: $size;
    }
}

@define-mixin pseudoElementIcon $content: "*", $size: inherit, $color: inherit {
    content: "\$content";
    display: inline-block;
    font-size: $size;
    color: $color;
    @mixin iconFontStatic;
}

@define-mixin textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@define-mixin transition $range: all, $time: 0.4s, $ease: cubic-bezier(0.25, 0.8, 0.25, 1) {
    transition: $range $time $ease;
}

@define-mixin cardTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    line-height: 44px;
}

@define-mixin subCardTitle {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px;
}

@define-mixin cardBaseShadow {
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.11);
}

@define-mixin cardLightShadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.03);
}

@define-mixin cardHoverShadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@define-mixin cardHeavyShadow {
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.12);
}

@define-mixin flexContainer $direction: row, $wrap: wrap, $justifyContent: center, $alignContent: flex-start,
    $alignItems: flex-start {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justifyContent;
    align-content: $alignContent;
    align-items: $alignItems;
}

@define-mixin clearFocus {
    &:focus {
        outline: none;
    }
}

@define-mixin roundedCorners $radius: 3px {
    border-radius: $radius;
}

/* for creating any kind of pseudo element */
@define-mixin pseudoicon $width: 10px, $height: 10px, $bcolor: inherit, $bgcolor: inherit, $left: auto, $right: auto,
    $top: auto, $bottom: auto {
    position: absolute;
    content: "";
    height: $height;
    width: $width;
    border-color: $bcolor;
    background-color: $bgcolor;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

@define-mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@define-mixin iconCross {
    @mixin elementIcon $iconCrossSmall, 18px, $black;
    font-weight: 700;
    padding: 8px;
    width: 35px;
    height: 35px;
    text-align: center;
}

@define-mixin iconCalendar {
    @mixin elementIcon $iconCalendar, 18px, $black;
    font-weight: 700;
    padding: 8px;
    width: 35px;
    height: 35px;
    text-align: center;
}

@define-mixin iconCalendar {
    @mixin elementIcon $iconCalendar, 18px, $baseDark;
    width: 18px;
    height: 17px;
    position: absolute;
    top: 18px;
    right: 5px;
}

@define-mixin subriderTitle {
    font-size: 24px;
    line-height: 42px;
    color: $black;
    font-weight: $bold;
}

@define-mixin subriderDescription {
    font-size: 18px;
    color: $black;
    opacity: 0.6;
    font-weight: 500;
}

@define-mixin greetingText $fs: 24px, $firstColor: #c86dd7, $secondColor: #3023ae, $greetingBaseColor: #3023ae {
    font-size: $fs;
    color: $greetingBaseColor;
    background: -webkit-linear-gradient(-134deg, $firstColor 0%, $secondColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@define-mixin pseudocross $width: 2px, $height: 12px, $bgcolor: inherit {
    &:before,
    &:after {
        content: "";
        @extend %absolutecenter;
        width: $width;
        height: $height;
        background-color: $bgcolor;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

%radioButton {
    &:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        @mixin roundedCorners 32px;
        border: 1px solid #979797;
        left: 0;
        top: 1px;
    }
    &:after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        left: 4px;
        top: 5px;
        @mixin roundedCorners 32px;
        background: #979797;
        transform: scale(0);
        transition-duration: 200ms;
    }
    &.active {
        color: $baseDark;
        &:after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            left: 4px;
            top: 5px;
            @mixin roundedCorners 32px;
            background: #6b7afe;
            transform: scale(1);
            opacity: 1;
        }
    }
}

%space-between {
    display: flex;
    justify-content: space-between;
}

@define-mixin arrowProp {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

@define-mixin arrowRight $size, $color, $border-width, $border-color {
    &:after,
    &:before {
        left: 100%;
        @mixin arrowProp;
    }
    &:after {
        border-left-color: $color;
        border-width: $size;
        top: 50%;
        margin-top: -$size;
    }
    &:before {
        border-left-color: $border-color;
        border-width: calc($size + $border-width);
        top: 50%;
        margin-top: -$size;
    }
}

@define-mixin arrowBottom $size, $color, $border-width, $border-color {
    &:after,
    &:before {
        top: 100%;
        @mixin arrowProp;
    }
    &:after {
        border-top-color: $color;
        border-width: $size;
        left: 50%;
        margin-left: -$size;
    }
    &:before {
        border-top-color: $border-color;
        border-width: calc($size + $border-width);
        left: 50%;
        margin-left: -$size;
    }
}

/* for centerlized element with position-relative parent */
%absolutecenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%buttonshape {
    border: 1px solid rgba(49, 68, 81, 0.12);
    @mixin roundedCorners 4px;
    @mixin transition;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    &:hover {
        border: 1px solid #352e67;
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.07);
    }
    &.active {
        border: 1px solid #352e67;
    }
}

%tooltip {
    position: absolute;
    right: 100%;
    @mixin transition;
    width: 250px;
    padding: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 31px 5px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.005);
    color: rgba(112, 131, 143, 0.7);
    opacity: 0;
    pointer-events: none;
    font-size: 12px;
    z-index: 1;
    top: 50%;
    transform: translate(-42px, -50%);
    @mixin arrowRight 10px, #fff, 1px, #fff;
}

%iconDropdown {
    @mixin elementIcon $iconDropdown, 16px;
    line-height: 9px;
    width: 16px;
    height: 9px;
    color: rgba(49, 68, 81, 0.4);
}
%iconDropdownToWhite {
    color: #fff;
}

%modalDesc {
    margin-top: 32px;
    color: $black-70;
    h3 {
        font-size: 16px;
        font-weight: bold;
        color: $black;
    }
}

%modalTitle {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}

%radioBig {
    /* Bigger radio buttons */
    padding-left: 24px;
    text-align: center;
    .w--radio__label {
        display: block;
        width: 100%;
    }
    .w--radio__options {
        width: initial;
    }
    .w--radio__option {
        font-size: 16px;
        display: block;
        width: initial;
        min-width: initial;
        margin-top: 16px;
        margin-right: 0;
        padding-left: 16px;
        &:before {
            width: 26px;
            height: 26px;
        }
        &.radio_selected {
            &:before {
                background-color: #fff;
            }
        }
        &:after {
            left: -19px;
            width: 20px;
            height: 20px;
            background-color: #314451;
        }
        @mixin clearFocus;
    }
}

%modalSubTitle {
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
    color: $black-70;
}

%invertModalClose {
    top: -14px;
    right: -10px;
    width: 28px;
    height: 28px;
    background: #dbdbdb;
    background-size: 34px;
    &:before {
        font-size: 13px;
        color: $baseDark;
    }
}

@define-mixin arrowTop $size, $color, $border-width, $border-color {
    &:after,
    &:before {
        bottom: 100%;
        @mixin arrowProp;
    }
    &:after {
        border-width: $size;
        left: 50%;
        border-bottom-color: $color;
        margin-left: -$size;
    }
    &:before {
        border-width: calc($size + $border-width);
        left: 50%;
        border-bottom-color: $border-color;
        margin-left: -$size;
    }
}
