@import './../../../scss/variables';

.add-address-modal{
    input{
        border: 0px;
        border-bottom: 1px solid lighten($bg-black,10%);
        text-align: left;
        padding: 0px;
        &:focus::placeholder {
            color: transparent;
        }
    }
    
    .w--text_input.has-error input{
        border: 0px;
        border-bottom: 1px solid $red;
    }
    input::placeholder{
        text-align: left;
    }
    .error-label{
        text-align: left;
        margin-left: 0px;
        margin-top: 2px;
        font-size: 12px;
    }
    .add-address-header{
        font-weight: $bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &.cf-modal__content{
        width: 100%;
    }
    .btn-add-container{
        display: flex;
            align-items: center;
            justify-content: space-around;
    }
    .mobile-wrapper{
        display: flex;
        justify-content: space-between;
    }
}





@media only screen and (min-width: $screen-width-xs + 1){

    .add-address-container{
        color:$red;
        margin-top: 10px;
        .btn-add-container{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    
}